@mixin hide-scrollbar() {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  padding: 24px;
  background-color: #EFEFEF;

  @media (width <= 576px) {
    padding: 0;
  }
}

.hide-scrollbar {
  @include hide-scrollbar;
}

.link-hover {
  text-decoration: none;
  color: #343A40;

    & div:hover {
      background: #4545A5;

        & p {
          color: #FBFBFB;
    }
  }
}

.contact-hover {
  color: #6C757D;

    &:hover {
      color: #EFEFEF;
    }
}

.mh-calc {
  max-height: calc(100vh - 7.5rem);

  @media (width <= 576px) {
    max-height: calc(100vh - 4.5rem);
  }
}

.mh-calc-chat {
  max-height: calc(100vh - 14.1rem);

  @media (width <= 576px) {
    max-height: calc(100vh - 14.6rem);
  }

  @media (width >= 576px) and (width <= 992px) {
    max-height: calc(100vh - 18.6rem);
  }
}

.width-block {
  width: 67%;

  @media (width <= 576px) {
    width: 100%;
  } 
}