extends:
  - stylelint-config-standard-scss

plugins:
  - stylelint-scss

rules:
  declaration-empty-line-before: null
  at-rule-no-unknown: null
  scss/no-global-function-names: null
  scss/at-rule-no-unknown: true
  color-hex-case: 'lower'
  indentation: 2
  no-eol-whitespace: true
  block-closing-brace-newline-before: 'always'
  no-missing-end-of-source-newline: true