.row(class='bg-white position-sticky rounded-top-right-0 rounded-top-right-lg-3')
  .col(class='ps-0 pe-4')
    div(class='d-flex align-items-center gap-4 px-3 border-bottom')
      img(src='images/avatar_4.jpg' class='rounded-circle' style ='width: 50px; height: 50px')
      div(class='d-flex flex-column my-4')
        p(class='fw-bold mb-0') Вениамин Редакторович
        p(class='small text-secondary mb-0') Онлайн