.row(class='bg-primary p-3 gap-4 border-end order-1 order-sm-0 rounded-top-left-0 rounded-top-left-lg-3')
  .col(class='d-flex justify-content-between p-0')
    div
      <svg width="25" height="40" viewBox="0 0 25 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Logo">
      <path d="M18.2943 32.984H17.7108C17.4833 32.984 17.265 32.8954 17.1041 32.7377C16.9432 32.58 16.8528 32.3661 16.8528 32.1431V25.1238H8.10429V32.1431C8.10429 32.3661 8.01388 32.58 7.85297 32.7377C7.69205 32.8954 7.47379 32.984 7.24622 32.984H6.67417C6.4466 32.984 6.22835 32.8954 6.06743 32.7377C5.90651 32.58 5.8161 32.3661 5.8161 32.1431V15.9779L8.10429 17.4729V23.2896H16.8518V17.4729L19.1524 15.9779V32.1431C19.1524 32.3661 19.062 32.58 18.9011 32.7377C18.7402 32.8954 18.5219 32.984 18.2943 32.984Z" fill="white"/>
      <path d="M5.09535 12.1936L12.4843 16.3872L19.8732 12.1936L12.4843 8L5.09535 12.1936Z" fill="white"/>
      </g>
      </svg>
    nav(class='d-flex')
      #nav-tab(class='nav gap-5 gap-sm-4' role='tablist')
        a#nav-current-chat-tab(href="#current-chat" class='d-block d-sm-none nav-link d-flex align-items-center gap-2 p-0' data-bs-toggle='tab', data-bs-target='#nav-current-chat', type='button', role='tab', aria-controls='nav-current-chat', aria-selected='false')
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="chat-left-text 1" clip-path="url(#clip0_5101_716)">
          <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M21.875 1.5625H3.125C2.7106 1.5625 2.31317 1.72712 2.02015 2.02015C1.72712 2.31317 1.5625 2.7106 1.5625 3.125V21.2281L4.6875 18.1031C5.27341 17.517 6.06814 17.1877 6.89687 17.1875H21.875C22.2894 17.1875 22.6868 17.0229 22.9799 16.7299C23.2729 16.4368 23.4375 16.0394 23.4375 15.625V3.125C23.4375 2.7106 23.2729 2.31317 22.9799 2.02015C22.6868 1.72712 22.2894 1.5625 21.875 1.5625ZM3.125 0C2.2962 0 1.50134 0.32924 0.915291 0.915291C0.32924 1.50134 0 2.2962 0 3.125L0 23.1141C3.28357e-05 23.2687 0.0459259 23.4198 0.131871 23.5482C0.217816 23.6767 0.339948 23.7768 0.482811 23.8359C0.625674 23.8949 0.782845 23.9103 0.934431 23.88C1.08602 23.8497 1.2252 23.7751 1.33437 23.6656L5.79219 19.2078C6.08514 18.9148 6.48251 18.7501 6.89687 18.75H21.875C22.7038 18.75 23.4987 18.4208 24.0847 17.8347C24.6708 17.2487 25 16.4538 25 15.625V3.125C25 2.2962 24.6708 1.50134 24.0847 0.915291C23.4987 0.32924 22.7038 0 21.875 0L3.125 0Z" fill="#FBFBFB"/>
          <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd" d="M4.6875 5.46875C4.6875 5.26155 4.76981 5.06284 4.91632 4.91632C5.06284 4.76981 5.26155 4.6875 5.46875 4.6875H19.5312C19.7385 4.6875 19.9372 4.76981 20.0837 4.91632C20.2302 5.06284 20.3125 5.26155 20.3125 5.46875C20.3125 5.67595 20.2302 5.87466 20.0837 6.02118C19.9372 6.16769 19.7385 6.25 19.5312 6.25H5.46875C5.26155 6.25 5.06284 6.16769 4.91632 6.02118C4.76981 5.87466 4.6875 5.67595 4.6875 5.46875ZM4.6875 9.375C4.6875 9.1678 4.76981 8.96909 4.91632 8.82257C5.06284 8.67606 5.26155 8.59375 5.46875 8.59375H19.5312C19.7385 8.59375 19.9372 8.67606 20.0837 8.82257C20.2302 8.96909 20.3125 9.1678 20.3125 9.375C20.3125 9.5822 20.2302 9.78091 20.0837 9.92743C19.9372 10.0739 19.7385 10.1562 19.5312 10.1562H5.46875C5.26155 10.1562 5.06284 10.0739 4.91632 9.92743C4.76981 9.78091 4.6875 9.5822 4.6875 9.375ZM4.6875 13.2812C4.6875 13.074 4.76981 12.8753 4.91632 12.7288C5.06284 12.5823 5.26155 12.5 5.46875 12.5H13.2812C13.4885 12.5 13.6872 12.5823 13.8337 12.7288C13.9802 12.8753 14.0625 13.074 14.0625 13.2812C14.0625 13.4885 13.9802 13.6872 13.8337 13.8337C13.6872 13.9802 13.4885 14.0625 13.2812 14.0625H5.46875C5.26155 14.0625 5.06284 13.9802 4.91632 13.8337C4.76981 13.6872 4.6875 13.4885 4.6875 13.2812Z" fill="#FBFBFB"/>
          </g>
          <defs>
          <clipPath id="clip0_5101_716">
          <rect width="25" height="25" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        a#nav-contacts-tab(href="#contacts" class='nav-link d-flex align-items-center gap-2 p-0' data-bs-toggle='tab', data-bs-target='#nav-contacts', type='button', role='tab', aria-controls='nav-contacts', aria-selected='false')
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="people 2">
          <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M23.4375 21.875C23.4375 21.875 25 21.875 25 20.3125C25 18.75 23.4375 14.0625 17.1875 14.0625C10.9375 14.0625 9.375 18.75 9.375 20.3125C9.375 21.875 10.9375 21.875 10.9375 21.875H23.4375ZM10.9719 20.3125H23.4031C23.4104 20.3116 23.4177 20.3106 23.425 20.3094L23.4375 20.3062C23.4344 19.8938 23.1766 18.6969 22.25 17.6187C21.3875 16.6078 19.8719 15.625 17.1875 15.625C14.5047 15.625 12.9891 16.6094 12.125 17.6187C11.1984 18.6969 10.9391 19.8953 10.9375 20.3062C10.9489 20.3085 10.9604 20.3105 10.9719 20.3125ZM17.1875 10.9375C18.0163 10.9375 18.8112 10.6083 19.3972 10.0222C19.9833 9.43616 20.3125 8.6413 20.3125 7.8125C20.3125 6.9837 19.9833 6.18884 19.3972 5.60279C18.8112 5.01674 18.0163 4.6875 17.1875 4.6875C16.3587 4.6875 15.5638 5.01674 14.9778 5.60279C14.3917 6.18884 14.0625 6.9837 14.0625 7.8125C14.0625 8.6413 14.3917 9.43616 14.9778 10.0222C15.5638 10.6083 16.3587 10.9375 17.1875 10.9375ZM21.875 7.8125C21.875 8.42807 21.7538 9.03761 21.5182 9.60633C21.2826 10.175 20.9373 10.6918 20.5021 11.1271C20.0668 11.5623 19.55 11.9076 18.9813 12.1432C18.4126 12.3788 17.8031 12.5 17.1875 12.5C16.5719 12.5 15.9624 12.3788 15.3937 12.1432C14.825 11.9076 14.3082 11.5623 13.8729 11.1271C13.4377 10.6918 13.0924 10.175 12.8568 9.60633C12.6212 9.03761 12.5 8.42807 12.5 7.8125C12.5 6.5693 12.9939 5.37701 13.8729 4.49794C14.752 3.61886 15.9443 3.125 17.1875 3.125C18.4307 3.125 19.623 3.61886 20.5021 4.49794C21.3811 5.37701 21.875 6.5693 21.875 7.8125ZM10.8375 14.5C10.2125 14.3032 9.56818 14.1738 8.91562 14.1141C8.54896 14.0792 8.18082 14.062 7.8125 14.0625C1.5625 14.0625 0 18.75 0 20.3125C0 21.3547 0.520312 21.875 1.5625 21.875H8.15C7.91837 21.3872 7.80285 20.8524 7.8125 20.3125C7.8125 18.7344 8.40156 17.1219 9.51562 15.775C9.89531 15.3156 10.3375 14.8859 10.8375 14.5ZM7.6875 15.625C5.08125 15.6562 3.60156 16.625 2.75 17.6187C1.81719 18.7031 1.5625 19.9047 1.5625 20.3125H6.25C6.25 18.6797 6.75469 17.0531 7.6875 15.625ZM2.34375 8.59375C2.34375 7.35055 2.83761 6.15826 3.71669 5.27919C4.59576 4.40011 5.78805 3.90625 7.03125 3.90625C8.27445 3.90625 9.46674 4.40011 10.3458 5.27919C11.2249 6.15826 11.7188 7.35055 11.7188 8.59375C11.7188 9.83695 11.2249 11.0292 10.3458 11.9083C9.46674 12.7874 8.27445 13.2812 7.03125 13.2812C5.78805 13.2812 4.59576 12.7874 3.71669 11.9083C2.83761 11.0292 2.34375 9.83695 2.34375 8.59375ZM7.03125 5.46875C6.20245 5.46875 5.40759 5.79799 4.82154 6.38404C4.23549 6.97009 3.90625 7.76495 3.90625 8.59375C3.90625 9.42255 4.23549 10.2174 4.82154 10.8035C5.40759 11.3895 6.20245 11.7188 7.03125 11.7188C7.86005 11.7188 8.65491 11.3895 9.24096 10.8035C9.82701 10.2174 10.1562 9.42255 10.1562 8.59375C10.1562 7.76495 9.82701 6.97009 9.24096 6.38404C8.65491 5.79799 7.86005 5.46875 7.03125 5.46875Z" fill="#FBFBFB"/>
          </g>
          </svg>
          p(class='d-none d-sm-block text-light small m-0') Контакты
        a#nav-chats-tab(href="#chats" class='nav-link active d-flex align-items-center gap-2 p-0' data-bs-toggle='tab', data-bs-target='#nav-chats', type='button', role='tab', aria-controls='nav-chats', aria-selected='true')
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="chat 2">
          <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M4.18437 18.5844C4.34656 18.7472 4.47083 18.9438 4.54835 19.1601C4.62586 19.3764 4.6547 19.6072 4.63281 19.8359C4.523 20.8947 4.31481 21.9408 4.01094 22.9609C6.19062 22.4562 7.52188 21.8719 8.12656 21.5656C8.46954 21.3919 8.86451 21.3507 9.23594 21.45C10.3007 21.7339 11.3981 21.8767 12.5 21.875C18.7438 21.875 23.4375 17.4891 23.4375 12.5C23.4375 7.5125 18.7438 3.125 12.5 3.125C6.25625 3.125 1.5625 7.5125 1.5625 12.5C1.5625 14.7938 2.52656 16.9219 4.18437 18.5844ZM3.41406 24.6859C3.04386 24.7593 2.67245 24.8265 2.3 24.8875C1.9875 24.9375 1.75 24.6125 1.87344 24.3219C2.01217 23.9947 2.13934 23.6627 2.25469 23.3266L2.25937 23.3109C2.64687 22.1859 2.9625 20.8922 3.07813 19.6875C1.16094 17.7656 0 15.25 0 12.5C0 6.45938 5.59687 1.5625 12.5 1.5625C19.4031 1.5625 25 6.45938 25 12.5C25 18.5406 19.4031 23.4375 12.5 23.4375C11.262 23.4392 10.029 23.2784 8.83281 22.9594C8.02031 23.3703 6.27187 24.1187 3.41406 24.6859V24.6859Z" fill="#FBFBFB"/>
          </g>
          </svg>
          p(class='d-none d-sm-block text-light small m-0') Сообщения
        a#nav-profile-tab(href="#profile" class='nav-link d-flex align-items-center gap-2 p-0' data-bs-toggle='tab', data-bs-target='#nav-profile', type='button', role='tab', aria-controls='nav-profile', aria-selected='false')
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="person 2">
          <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M15.625 7.8125C15.625 8.6413 15.2958 9.43616 14.7097 10.0222C14.1237 10.6083 13.3288 10.9375 12.5 10.9375C11.6712 10.9375 10.8763 10.6083 10.2903 10.0222C9.70424 9.43616 9.375 8.6413 9.375 7.8125C9.375 6.9837 9.70424 6.18884 10.2903 5.60279C10.8763 5.01674 11.6712 4.6875 12.5 4.6875C13.3288 4.6875 14.1237 5.01674 14.7097 5.60279C15.2958 6.18884 15.625 6.9837 15.625 7.8125ZM12.5 12.5C13.7432 12.5 14.9355 12.0061 15.8146 11.1271C16.6936 10.248 17.1875 9.0557 17.1875 7.8125C17.1875 6.5693 16.6936 5.37701 15.8146 4.49794C14.9355 3.61886 13.7432 3.125 12.5 3.125C11.2568 3.125 10.0645 3.61886 9.18544 4.49794C8.30636 5.37701 7.8125 6.5693 7.8125 7.8125C7.8125 9.0557 8.30636 10.248 9.18544 11.1271C10.0645 12.0061 11.2568 12.5 12.5 12.5ZM21.875 20.3125C21.875 21.875 20.3125 21.875 20.3125 21.875H4.6875C4.6875 21.875 3.125 21.875 3.125 20.3125C3.125 18.75 4.6875 14.0625 12.5 14.0625C20.3125 14.0625 21.875 18.75 21.875 20.3125ZM20.3125 20.3062C20.3109 19.9219 20.0719 18.7656 19.0125 17.7062C17.9938 16.6875 16.0766 15.625 12.5 15.625C8.92188 15.625 7.00625 16.6875 5.9875 17.7062C4.92813 18.7656 4.69062 19.9219 4.6875 20.3062H20.3125Z" fill="#FBFBFB"/>
          </g>
          </svg>
          p(class='d-none d-sm-block text-light small m-0') Профиль
#nav-tabContent.tab-content
  #nav-current-chat.tab-pane.fade(role='tabpanel', aria-labelledby='nav-current-chat-tab', tabindex='0')
    include chat_header.pug
    include chat_messages.pug
    include chat_form.pug
  #nav-contacts.tab-pane.fade(role='tabpanel', aria-labelledby='nav-contacts-tab', tabindex='0')
    include contacts.pug
  #nav-chats.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-chats-tab', tabindex='0')
    include chats.pug
  #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab', tabindex='0')
    include profile.pug