.row(class='bg-white h-100 rounded-end')
  .col(class='d-flex flex-column justify-content-center align-items-center')
    img(src='images/avatar_1.jpg' class='rounded-circle mb-3')
    p(class='fw-bold mb-0') Привет, Кодовёнок
    p(class='small text-secondary') Выбери чат, чтобы начать общаться
    